:root {
  --purple: #7952b3;
  --w_300: 300;
  --grey: #555;
  --light_grey: #f4f4f4;
}

ul {
  list-style: none;
}

ul li {
  padding: 0 2.5rem;
  margin: 0 0.5rem;
}

.height_80 {
  height: 80vh;
}

.color_purple {
  background-color: var(--purple);
}

.color_grey {
  background-color: #555;
}

footer,
ul li {
  background-color: #f4f4f4;
}

.jumbotron {
  background-color: var(--light_grey);
  color: #000;
  font-weight: var(--w_300);
}
